/* @override 
	http://localhost:4000/css/app.css */

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('/fonts/League_Gothic-webfont.eot');
  src: url('/fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/League_Gothic-webfont.woff') format('woff'), url('/fonts/League_Gothic-webfont.ttf') format('truetype'), url('/fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}



BODY {
  background-color: #ffffff;
  color: #777777;
  font-family: "Palatino", "Palatino Linotype", Georgia, Times, Serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "LeagueGothicRegular", "Gill Sans", "Gill Sans MT", "Lucida Sans Unicode", "Lucida Sans", "Helvetica", Arial, sans-serif;
  font-weight: normal;
  color: #666666;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
}
h3 {
  font-size: 2.0em;
}
.content h3, .content h4, .content h5 {
  font-family: "Palatino", "Palatino Linotype", Georgia, Times, Serif;
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #e0e0e0; // same as <hr>
}
a:link,
a:active,
a:visited {
  color: #990000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul > li {
  list-style: square;
  margin-bottom: .5em;
  margin-left: 1em;
}
hr {
  width: 80%;
  color: transparent;
  border: none;
  border-top: 1px solid #e0e0e0;
  margin-top: 1.5em auto;
}
#header {
  font-family: "LeagueGothicRegular", "Gill Sans", "Gill Sans MT", "Lucida Sans Unicode", "Lucida Sans", "Helvetica", Arial, sans-serif;
  color: #777777;
  margin-bottom: 28px;
}
#header h1#title {
  color: #777777;
  font-size: 120px;
  margin-left: -4px;
  padding: 0;
  line-height: 145px;
  text-transform: uppercase;
}
#header h1#title a:link {
  display:inline-block;
  color: #99000 !important;
}
#header h1#title a:hover {
  text-decoration: none !important;
}
ul#nav > li {
  text-align: left;
  font-size: 36px;
  letter-spacing: 3px;
  text-transform: uppercase;
  list-style: none;
  margin-top:.3em;
  margin-left: 0;
  margin-bottom: 0;
}
#nav a {
  color: #777777;
  text-decoration: none;
}
#page-content {
  line-height: 1.5em;
}
#page-content h1 > a,
#page-content h1 > a:visited,
#page-content h2 > a,
#page-content h2 > a:visited {
  color: #666666;
}

div.post {
  margin-top: 2em;
  padding-top: 2em;
  /* leading image */

}
div.post:first-of-type {
  padding-top: 0;
}
div.post h1 {
  line-height: 1.1em;
  margin-bottom: 0.2em;
}
div.post code {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  padding: 1px;
  font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Monaco, "Courier New", monospace;
}
div.post pre code {
  padding: 1em;
  display: block;
  overflow: scroll;
  margin-bottom: 1em;
}
div.post .gist {
  font-size: .8em;
}
div.post .highlight {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
div.post div.content > p > a > img {
  display: block;
  border: 0px solid #666666;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

div.post div.content  iframe {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

div.post div.content  .audiojs {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

div.post div.post-meta {
  overflow: auto;
  border-top: 1px solid #e0e0e0;
  padding-top: .5em;
  margin-bottom: 1em;
}
div.post div.post-meta div.date {
  font-style: italic;
  display: inline-block;
  float: right;
}
div.post div.post-meta ul.categories {
  margin: 0;
  padding: 0;
  list-type: none;
  float: left;
}
div.post div.post-meta ul.categories > li.category {
  font-style: italic;
  margin: 0;
  padding: 0;
  display: inline;
}
div.post div.post-meta ul.categories > li.category:after {
  content: ', ';
}
div.post div.post-meta ul.categories > li.category:last-of-type:after {
  content: '';
}
div.post div.content blockquote {
  font-style: italic;
  background-color: #e0e0e0;
  margin: 0 0 1em 0;
  padding: 1em;
  border-left: 0.2em solid #cccccc;
}
div.post div.content blockquote p:last-of-type {
  margin-top: 0;
  margin-bottom: 0;
}
div.post div.comments {
  border-top: 1px solid #e0e0e0;
  display: none;
}
div.post div.comments ul {
  list-style: none;
  margin: 1em;
  padding: 0px;
}
div.post div.comments ul > li.comment {
  list-style: none;
  padding: 1em;
  margin-bottom: 1em;
  font-size: .95em;
  border-bottom: 3px solid #e0e0e0;
  background-color: #e0e0e0;
}
div.post div.comments ul li.comment .comment-author,
div.post div.comments ul li .comment-author-url,
div.post div.comments ul li .comment-date {
  display: inline;
  margin-right: 1em;
}
div.post div.comments ul > li .comment-author {
  font-weight: bold;
}
#page-footer {
  background-color: #e0e0e0;
  padding: .5em;
  margin-top: 14px;
}
#page-meta, #feeds {
  font-size: 14px;
}
#feeds {
	text-align: right;
}
span.rss-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAI/AAACPwBDcB+qAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNAay06AAAADbSURBVCiRjdA/S8JxEAbwjyUFLUUoQY2Ck9iSW64RjjW69xLMBt9LNbi1BRXRYO8gaBOaWhKb+gOBZYP3oy8S1sHB957v89zdc/NYxha+8OIfsY0hntDDITZmCWq4xwjjyA90/pq0iF1cJcILLEwTKzhBC6XA9vEaostpwU7ScYzTwDfxHthRKiiiiW4iuou/vcTT2m8+qngM0nFgvajbKfEgfBTCU3axdTTifZuRa8kqWdezqFvI4xMDFOfwgGs84yYE53hDOab1kfNzRUuxfxarJterJFvUsfINaWE5lmBSXrkAAAAASUVORK5CYII=);
}
div.footnotes {
  font-size: 85%;
  line-height: 1.4em;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #e0e0e0;
}
div.footnotes hr {
  height: 1px;
  border-width: 1px 0 0 0;
  border-top: 1px solid #e0e0e0;
}
div.footnotes li > p {
  margin-right: 2em;
  font-size: 14px;
}
#comments {
  margin: 1.5em 0;
}
#influads_block {
  text-align: center;
}
.influads_text a, .influads_text a:link, .influads_text a:visited  {
  color:black;
}
.influads_text, .influads_powered_div {
  font-size: .7em;
  line-height: 1.6em;
}
a.influads_powered_link {
  color:#666666;
}
.audiojs .time {
  font-size:12px;
}

div.content.osmi h2, div.content.osmi h3 {
  margin-top:1.5em;
}

ul.toc {
  border-top: 2px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 1em 0;
}
ul.toc li {
  margin-left: 2em;
}

.video-thumb {
  display:block;
}
.video-play-label {
  font-family: "LeagueGothicRegular", "Gill Sans", "Gill Sans MT", "Lucida Sans Unicode", "Lucida Sans", "Helvetica", Arial, sans-serif;
  color: #FFF;
  display: inline;
  font-size: 3em;
  right: .5em;
  margin-top: -1em;
  text-align: right;
  text-shadow: 1px 1px 0px #000;
  position: absolute;
}
.video-play-label:hover {
  text-decoration: none;
}


  