.center_margin {
  margin-left: auto;
  margin-right: auto;
}
BODY {
  background-color: #999999;
  color: #666666;
  font-family: "Palatino", "Palatino Linotype", Georgia, Times, Serif;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Gill Sans", "Gill Sans MT", "Lucida Sans Unicode", "Lucida Sans", "Helvetica", Arial, sans-serif;
  font-weight: normal;
  color: #333333;
}
a:link, a:active, a:visited {
  color: #990000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul > li {
  list-style: square;
  margin-bottom: .5em;
}
#container {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding: 20px;
  padding-top: 20px;
  background-color: #ffffff;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
}
#header {
  font-family: "Gill Sans", "Gill Sans MT", "Lucida Sans Unicode", "Lucida Sans", "Helvetica", Arial, sans-serif;
  width: 600px;
  height: 400px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  position: relative;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
#header h1#title {
  top: 2.5em;
  color: #ffffff;
  position: absolute;
  width: 600px;
  text-align: center;
  font-size: 45pt;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: .1em;
  padding: 0;
  letter-spacing: .2em;
}
#header h1#title a:link {
  color: #99000 !important;
}
#header h1#title a:hover {
  text-decoration: none !important;
}
#header #nav {
  position: absolute;
  top: 10.2em;
  font-size: 16pt;
  letter-spacing: 0.135em;
  width: 600px;
  text-align: center;
  line-height: 1em;
}
#header #nav-items {
  width: 21.2em;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
#header #nav-items li {
  margin: 0;
  list-style: none;
  padding: 0;
  display: inline-block;
  position: absolute;
  text-align: left;
}
#header #nav-items li a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
#header #nav-items .word1 {
  left: 0em;
}
#header #nav-items .word2 {
  left: 5.4em;
}
#header #nav-items .word3 {
  right: 7em;
}
#header #nav-items .word4 {
  right: 0em;
}
#page-content {
  line-height: 1.5em;
}
#page-content h1 > a,
#page-content h1 > a:visited,
#page-content h2 > a,
#page-content h2 > a:visited {
  color: #333333;
}
div.post {
  margin-top: 2em;
  /* leading image */

}
div.post h1 {
  line-height: 1.1em;
}
div.post code {
  font-size: 110%;
  border: 1px solid #CCCCCC;
  background-color: #EEEEEE;
  padding: 1px;
}
div.post .gist {
  font-size: .8em;
}
div.post div.content > p > a > img {
  display: block;
  border: 2px solid #333333;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
div.post div.post-meta {
  overflow: auto;
  border-top: 1px solid #cccccc;
  font-size: .9em;
  padding-top: 1em;
}
div.post div.post-meta div.date {
  font-style: italic;
  display: inline-block;
  float: right;
}
div.post div.post-meta ul.categories {
  margin: 0;
  padding: 0;
  list-type: none;
  float: left;
}
div.post div.post-meta ul.categories > li.category {
  font-style: italic;
  margin: 0;
  padding: 0;
  display: inline;
}
div.post div.post-meta ul.categories > li.category:after {
  content: ', ';
}
div.post div.post-meta ul.categories > li.category:last-of-type:after {
  content: '';
}
div.post div.content blockquote {
  font-style: italic;
  background-color: #e0e0e0;
  margin: 0em;
  padding: 1em;
  border-left: 0.2em solid #cccccc;
}
div.post div.content blockquote p:first {
  margin-top: 0px;
  margin-bottom: .5em;
}
div.post div.comments {
  border-top: 1px solid #cccccc;
  display: none;
}
div.post div.comments ul {
  list-style: none;
  margin: 1em;
  padding: 0px;
}
div.post div.comments ul > li.comment {
  list-style: none;
  padding: 1em;
  margin-bottom: 1em;
  font-size: .95em;
  border-bottom: 3px solid #cccccc;
  background-color: #e0e0e0;
}
div.post div.comments ul li.comment .comment-author, div.post div.comments ul li .comment-author-url, div.post div.comments ul li .comment-date {
  display: inline;
  margin-right: 1em;
}
div.post div.comments ul > li .comment-author {
  font-weight: bold;
}
#page-footer {
  font-size: .8em;
  background-color: #e0e0e0;
  padding: 1em;
  margin: -1.6em;
  margin-top: 1em;
  overflow: auto;
}
#page-footer #page-meta {
  float: left;
}
#page-footer ul#feeds {
  white-space: nowrap;
  float: right;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1em;
}
#page-footer ul#feeds > li {
  margin-right: 1em;
  display: inline;
}
span.rss-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAI/AAACPwBDcB+qAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNAay06AAAADbSURBVCiRjdA/S8JxEAbwjyUFLUUoQY2Ck9iSW64RjjW69xLMBt9LNbi1BRXRYO8gaBOaWhKb+gOBZYP3oy8S1sHB957v89zdc/NYxha+8OIfsY0hntDDITZmCWq4xwjjyA90/pq0iF1cJcILLEwTKzhBC6XA9vEaostpwU7ScYzTwDfxHthRKiiiiW4iuou/vcTT2m8+qngM0nFgvajbKfEgfBTCU3axdTTifZuRa8kqWdezqFvI4xMDFOfwgGs84yYE53hDOab1kfNzRUuxfxarJterJFvUsfINaWE5lmBSXrkAAAAASUVORK5CYII=);
}
div.footnotes {
  font-size: 85%;
  line-height: 1.4em;
}
div.footnotes hr {
  height: 1px;
  border-width: 1px 0 0 0;
  border-top: 1px solid #ccc;
}
div.footnotes li > p {
  margin-right: 2em;
}
