<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />

	<title>Funkatron : {{page.title}}</title>

	<link rel="alternate" type="application/atom+xml" title="Funkatron / Posts / ATOM" href="http://funkatron.com/posts.xml" />
	<link rel="alternate" type="application/rss+xml" title="Funkatron / Posts / RSS" href="http://funkatron.com/posts.rss" />
	<link rel="alternate" type="application/rss+xml" title="Funkatron / Items of Interest / RSS" href="http://funkatron.com/feeds/itemsofinterest" />

	<link rel="openid.server"
			href="http://www.myopenid.com/server" />
	<link rel="openid.delegate"
			href="http://funkatron.myopenid.com/" />
	<link rel="openid2.local_id"
			href="http://funkatron.myopenid.com" />
	<link rel="openid2.provider"
			href="http://www.myopenid.com/server" />
	<meta http-equiv="X-XRDS-Location"
			content="http://www.myopenid.com/xrds?username=funkatron.myopenid.com" />

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

	<!-- Included JS Files (Compressed) -->
	<script src="../js/foundation.min.js"></script>

	<!-- Initialize JS Plugins -->
	<script src="../js/app.js"></script>

	<script src="../js/jqwidont.js"></script>
	<script src="../js/jquery.fittext.js"></script>
	<script src="../js/site.js"></script>

	<link rel="stylesheet" href="../css/foundation.css">
	<link rel="stylesheet" href="../css/app.css">

	<script src="../js/modernizr.foundation.js"></script>

	<!-- <link rel="stylesheet" type="text/css" href="../css/site.css"> -->

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-2032506-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	function fittext() {
		$("#title").fitText(0.32);
	}


	$(document).ready(function() {
		$(window).resize(function() {
			fittext();
		})
		fittext();
	})


	</script>

</head>
<body id="{{ page.id }}">

	<div id="header-container" class="row">

		<div class="two columns"></div>

		<div id="header" class="eight columns">

			<div class="row">
				<div class="twelve columns">
					<h1 id="title"><a href="/index.html">Funkatron</a></h1>
					<ul id="nav" class="block-grid five-up mobile-three-up">
						<li><a href="/posts.html">Posts</a></li>
						<li><a href="https://osmihelp.org" title="Open Sourcing Mental Illness">OSMI</a></li>
						<li><a href="/items.html">Items</a></li>
						<li><a href="/about.html">About</a></li>
						<li><a href="/contact.html">Contact</a></li>
					</ul>
				</div>
			</div>

		</div>

		<div class="two columns"></div>

	</div>

	<div id="content-container" class="row">

		<div class="two columns"></div>

		<div id="page-content" class="eight columns">{{content}}</div>

		<div class="two columns">
			<!-- <div id='influads_block' class='influads_block'></div><script type='text/javascript'>(function(){var acc='acc_1072d793_pub';var st='nocss';var or='130';var e=document.getElementsByTagName('script')[0];var d=document.createElement('script');d.src=('https:' == document.location.protocol ?'https://' : 'http://') +'engine.influads.com/show/'+or+'/'+st+'/'+acc;d.type='text/javascript';d.async=true;d.defer=true; e.parentNode.insertBefore(d,e);})();</script> -->
		</div>

	</div>


	<div id="footer-container" class="row">

		<div class="two columns"></div>

		<div id="page-footer" class="eight columns">

			<div class="row">
				<div id="page-meta" class="six mobile-two columns">Page generated: {{ site.time | date_to_string }}</div>
				<div id="feeds" class="six mobile-two columns">
					<a href="/feeds/itemsofinterest"><span class="rss-icon"></span> Items of Interest</a> &nbsp;
					<a href="/posts.xml"><span class="rss-icon"></span> Posts</a>
				</div>
			</div>

		</div>

		<div class="two columns"></div>

	</div>

</body>
</html>
