<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Funkatron / {{page.title}}</title>
	
	<link rel="alternate" type="application/atom+xml" title="Funkatron / Posts / ATOM" href="http://funkatron.com/posts.xml" />
	<link rel="alternate" type="application/rss+xml" title="Funkatron / Posts / RSS" href="http://funkatron.com/posts.rss" />
	<link rel="alternate" type="application/rss+xml" title="Funkatron / Items of Interest / RSS" href="http://funkatron.com/feeds/itemsofinterest" />
	
	<link rel="openid.server"
            href="http://www.myopenid.com/server" />
      <link rel="openid.delegate"
            href="http://funkatron.myopenid.com/" />
      <link rel="openid2.local_id"
            href="http://funkatron.myopenid.com" />
      <link rel="openid2.provider"
            href="http://www.myopenid.com/server" />
      <meta http-equiv="X-XRDS-Location"
            content="http://www.myopenid.com/xrds?username=funkatron.myopenid.com" />
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	
	<script src="../js/jqwidont.js"></script>
	<script src="../js/site.js"></script>
		
	<link rel="stylesheet" href="../css/site.css">
	
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2032506-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</head>
<body id="{{ page.id }}">
	
	<div id="container">

		<div id="header">
			<h1 id="title"><a href="/index.html">FUNKATRON</a></h1>
			<div id="nav">
				<ul id="nav-items">
					<li class="word1"><a href="/posts.html">POSTS</a></li>
					<li class="word2"><a href="/items.html">ITEMS</a></li>
					<li class="word3"><a href="/about.html">ABOUT</a></li>
					<li class="word4"><a href="/contact.html">CONTACT</a></li>
				</ul>
			</div>
		</div>

		<div id="page-content">{{content}}</div>

		<div id="page-footer">
			<div id="page-meta">Page generated: {{ site.time | date_to_string }}</div>
			<ul id="feeds">
				<li><a href="/feeds/itemsofinterest"><span class="rss-icon"></span> Items of Interest</a></li>
				<li><a href="/posts.xml"><span class="rss-icon"></span> Posts</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
